/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835,bcm2711";
    /*
    fragment@0 {
        target=<&dsi0>;

        __overlay__ {
            status = "okay";

            power-domains = <&power 17>;

            #address-cells = <1>;
            #size-cells = <0>;

            port {
                dsi0_out_port: endpoint {
                    remote-endpoint = <&panel_dsi_in0>;
                };
            };

            display0: panel@0 {
                compatible = "nwe,nwe080";
                reg=<0>;

                reset-gpios = <&gpio 13 0>;
                vdio-gpios = <&gpio 19 0>;
                vci-gpios = <&gpio 26 0>;
                bst-gpios = <&gpio 5 1>;

                vc4_dsi = <&dsi0>;
                port {
                    panel_dsi_in0: endpoint {
                        remote-endpoint = <&dsi0_out_port>;
                    };
                };
            };
        };
    };
    */
                    
    fragment@1 {
        target=<&dsi1>;

        __overlay__ {
            status = "okay";

            power-domains = <&power 18>;

            #address-cells = <1>;
            #size-cells = <0>;

            port {
                dsi1_out_port: endpoint {
                    remote-endpoint = <&panel_dsi_in1>;
                };
            };


            display1: panel@0 {
                compatible = "nwe,nwe080";
                reg=<0>;

                reset-gpios = <&gpio 20 0>;
                vdio-gpios = <&gpio 21 0>;
                vci-gpios = <&gpio 16 0>;
                bst-gpios = <&gpio 6 1>;

                vc4_dsi = <&dsi1>;
                port {
                    panel_dsi_in1: endpoint {
                        remote-endpoint = <&dsi1_out_port>;
                    };
                };
            };
        };
    };
};
